---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import NavMenu from "../components/NavMenu";
import { NavBar } from "../components/NavBar";
import "@/styles/nav.css";

type Props = {
  children: any[];

  frontmatter: {
    title: string;
    subTitle?: string;
    date?: string;
    modified?: string;
    tags?: string[];
    cover?: unknown;
    category?: string;
  };
};

const { title, subTitle, cover, category, date, modified, tags } =
  Astro.props.frontmatter || Astro.props;

console.log("Main.astro", Astro.props);
---

<html lang="en">
  <head>
    <BaseHead title={title} description={`${subTitle}`} />
    <style>
      main {
        width: calc(100% - 2em);
        max-width: 720px;
        line-height: 1.4;
        margin: 0 auto;
      }
      .hero-image {
        width: 100%;
      }
      .hero-image img {
        display: block;
        margin: 0 auto;
        border-radius: 100%;
        box-shadow: var(--box-shadow);
      }
      .prose {
        width: 720px;
        max-width: calc(100% - 2em);
        margin: auto;
        padding: 1em;
        color: rgb(var(--gray-dark));
      }
      .title {
        margin-bottom: 1em;
        padding: 1em 0;
        text-align: center;
        line-height: 1;
      }
      .title h1 {
        margin: 0 0 0.5em 0;
      }
      .date {
        margin-bottom: 0.5em;
        color: rgb(var(--gray));
      }
      .last-updated-on {
        font-style: italic;
      }
    </style>
  </head>

  <body>
    <Header date={date} modified={modified} />
    <main>
      <h1>{title}</h1>
      <p>{subTitle}</p>
      <div class="info">
        <span class="date">{date}</span>
        {modified && (
          <span class="last-updated-on">Last updated on {modified}</span>
        )}
        <Badge text={category} class="" />
      </div>
      <div class="hero-image">
        <img src={cover} alt={title} />
      </div>

      <slot />
    </main>
    <Footer />
  </body>
</html>
